@media print {
    body {
        /* Шрифт для печати */
        font-size: 12pt;
        line-height: 1.4;
    }

    header,
    nav,
    aside,
    footer {
        display: none;
        /* Скрываем ненужные элементы */
    }

    html,
    body {
        height: 297mm;
        width: 210mm;
    }
    
    .wrapper {
        width: 100%;
    }

    a {
        text-decoration: underline;
        /* Подчеркиваем ссылки */
    }

    a::after {
        content: " ("attr(href) ")";
        /* Добавляем URL ссылок */
    }
}
