:root {
/* некий главный цвет сайта */
    --main-color: blue;
    
/* кнопки категорий */
    --category-btn-border-color-default: gray;
    --category-btn-border-color-active: var(--main-color);

/* иконки кнопок категорий */
    /* цвет контура иконок */
    --icon-border-color: gray;
    /* цвет пятна в иконках */
    --color-print: darkgrey;
    /* размер иконок */
    --icon-size: 30px;
}

/* скрыть input radio */
input[type=radio],
input[type=checkbox] {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
}

/* input radio */
.checkbox_radio label {
    display: block;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--category-btn-border-color-default);
    cursor: pointer;
}

/* иконки меню категорий */
.m-ctlg-icon {
    color: var(--icon-border-color);
    overflow: visible;
    height: var(--icon-size);
    /* соотношение сторон */
    aspect-ratio: 7/6;
}

/* активный input radio */
input:checked + label {
    --icon-border-color: var(--main-color);
    --color-print: var(--main-color);
    color: var(--main-color);
    border-color: var(--category-btn-border-color-active);
}